/* #mktoForm
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#mktoStyleLoaded { color:#123456; /* css load detection, do not remove */ }

/* coloring themes */
#mktoForm_1407.mktoForm {
	width: 100% !important;
	color: #515456 !important; /* osv:grey */
	font-weight: 300 !important;
}

/* layout */
.mktoForm#mktoForm_1407 .mktoFormRow {
	clear: none;
	display: block;
	float: left;
}
.mktoForm#mktoForm_1407 .mktoButtonRow { width: 100%; padding: 10px 0; }

.mktoForm#mktoForm_1407 .mktoButtonRow span.mktoButtonWrap.mktoNative { margin-left: 5px !important; }

.mktoForm#mktoForm_1407 .mktoLabel { font-weight: 300; }

.mktoForm#mktoForm_1407 .mktoRequiredField label.mktoLabel { font-weight: 500; }

.mktoForm#mktoForm_1407.mktoLayoutAbove .mktoRequiredField .mktoAsterix {
	display: block;
	text-indent: -9999px;
	
	padding: 0;
	padding-left: 0px;
	padding-right: 0px;
	
	
	position: absolute;
	left: -40px; top: 20px;
	width: 10px;
	height: 30px;
	background: url('../images/1607-wd-rising-bolt-icon-black.png') no-repeat;
	width: 	20px;

/*	border-radius: 3px;
	border-radius: 50%;
	margin-right: 5px;
	margin-top: 4px;*/

}

/*
content: url('../images/1607-wd-rising-bolt-icon-black.png') no-repeat;
*/



/*
.mktoForm#mktoForm_1407 .mktoFormRow select.mktoField {
	background: transparent;
	width: 200px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0px;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
	cursor: pointer;
}
*/
.mktoForm#mktoForm_1407 fieldset {}

.mktoForm#mktoForm_1407 fieldset legend {}

.mktoForm#mktoForm_1407 input[type=text],
.mktoForm#mktoForm_1407 input[type=url],
.mktoForm#mktoForm_1407 input[type=email],
.mktoForm#mktoForm_1407 input[type=tel],
.mktoForm#mktoForm_1407 input[type=number],
.mktoForm#mktoForm_1407 input[type=date],
.mktoForm#mktoForm_1407 textarea.mktoField,
.mktoForm#mktoForm_1407 select.mktoField {
	padding: 2px 3px;
	text-indent: 10px;
	font-size: 13px;
	font-weight: 300;
	border-radius: 0px;
}

.mktoForm#mktoForm_1407 select.mktoField {
	padding: 2px 3px;
	text-indent: 10px;
	font-size: 13px;
	font-weight: 300;
	border-radius: 0px;
	outline:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
}

.mktoForm#mktoForm_1407 textarea.mktoField {
	padding-top: 10px;
}
.mktoForm#mktoForm_1407 input[type=text]:focus,
.mktoForm#mktoForm_1407 input[type=url]:focus,
.mktoForm#mktoForm_1407 input[type=email]:focus,
.mktoForm#mktoForm_1407 input[type=tel]:focus,
.mktoForm#mktoForm_1407 input[type=number]:focus,
.mktoForm#mktoForm_1407 input[type=date]:focus,
.mktoForm#mktoForm_1407 select.mktoField:focus,
.mktoForm#mktoForm_1407 textarea.mktoField:focus {
	border: 1px solid #808780; /* osv:green:active */
	border: 1px solid rgba(128,135,128,1);
	outline: 0; 
}

.mktoForm#mktoForm_1407 .mktoError .mktoErrorMsg {
	display: none;
	margin-top: 7px;
	background-color: #F14C00; /* osv:orange */ 
	background-image: none;
	border: 1px solid #F14C00; /* osv:orange */ 
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: rgba(0,0,0,0.65) 0 2px 7px, inset #ff3c3c 0 1px 0px;
	box-shadow: rgba(0,0,0,0.65) 0 2px 7px, inset #ff3c3c 0 1px 0px;
	color: #f3f3f3;
	font-size: 1em;
	line-height: 1.2em;
	max-width: 16em;
	padding: 0.4em 0.6em;
	text-shadow: none;
}
.mktoForm#mktoForm_1407 .mktoError .mktoErrorArrow {
	background-color: #F14C00; /* osv:orange */ 
	border: 1px solid #F14C00; /* osv:orange */ 
	border-right: none;
	border-bottom: none;
	display: inline-block;
	height: 16px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	width: 16px;
	margin-top: 5px;
}

/* buttons */
.mktoForm#mktoForm_1407 button.mktoButton {
	color: #8B9583; /* osv:green */
	font-size: 11px;
	font-weight: 600;
	border-radius: 0;
	border: 2px solid #8B9583; /* osv:green */
}
.mktoForm#mktoForm_1407 button.mktoButton:hover,
.mktoForm#mktoForm_1407 button.mktoButton:active,
.mktoForm#mktoForm_1407 button.mktoButton:focus {
	color: #FFFFFF;
	background: #8B9583; /* osv:green */
	border-color: #8B9583; /* osv:green */
}


/* Tablet Portrait/Landscape size (devices and small browsers) */
@media only screen and (max-width: 1024px) {
	
	
}


/* Smaller than normal 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

	.mktoForm#mktoForm_1407.mktoLayoutAbove .mktoRequiredField .mktoAsterix {
	
	
	left: -40px; top: 40px;

	background: url('../images/1607-wd-rising-bolt-icon-black.png') no-repeat;



	
	
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	/* #mktoForm 
	–––––––––– */
	#mktoForm_1407.mktoForm {
		width: 100% !important;
		color: #515456 !important; /* osv:grey */
		font-weight: 300 !important;
	}
	
	#mktoForm_1407.mktoForm .mktoFormRow,
	#mktoForm_1407.mktoForm .mktoFormCol,
	#mktoForm_1407.mktoForm .mktoFieldWrap,
	#mktoForm_1407.mktoForm .mktoButtonRow {
		width: 100% !important;
	}
	#mktoForm_1407.mktoForm input[type=text],
	#mktoForm_1407.mktoForm input[type=url],
	#mktoForm_1407.mktoForm input[type=email],
	#mktoForm_1407.mktoForm input[type=tel],
	#mktoForm_1407.mktoForm input[type=number],
	#mktoForm_1407.mktoForm input[type=date],
	#mktoForm_1407.mktoForm textarea.mktoField,
	#mktoForm_1407.mktoForm select.mktoField {
		padding: 0;
		text-indent: 10px;
		width: 100% !important;
	}
	.mktoForm#mktoForm_1407 textarea.mktoField { padding-top: 10px !important; }
	
	.mktoForm#mktoForm_1407 .mktoOffset { display: none; }
	
	.mktoForm#mktoForm_1407 .mktoButtonRow { margin: 25px 0 0 0 !important; }

}


	.mktoForm#mktoForm_1407.mktoLayoutAbove .mktoRequiredField .mktoAsterix {
	
	left: -40px; top: 20px;

	


}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	.mktoForm#mktoForm_1407.mktoLayoutAbove .mktoRequiredField .mktoAsterix {
	
	left: -40px; top: 20px;
	width: 10px;
	height: 30px;
	background: url('../images/1607-wd-rising-bolt-icon-black.png') no-repeat;
	width: 	20px;


}